<h1><%= t :admin_index_title %></h1>
<h4><%= t :admin_index_info %></h4>

<table class="admin-report" width="545">
	<thead>
		<tr>
      		<th><%= t :name %></th>
					<th><%= t :phone %></th>
      		<th><%= t :email %></th>
      		<th><%= t :conctact_time %></th>
      		<th><%= t :type_inquiry %></th>
					<th><%= t :order_number %></th>
					<th><%= t :message %></th>
					<th></th>
    	</tr>
  	</thead>
	
	<tbody>
    	<% @inquiries.each do |inquiry| %>
		<tr class="<%= cycle('even', 'odd') %>">
			<td>
				<%= inquiry.name %>
			</td>
			<td>
				<%= inquiry.phone %>
			</td>
			<td>
				<%= inquiry.email %>
			</td>
			<td>
				<%= inquiry.contact_time %>
			</td>
			<td>
				<%= inquiry.type_inquiry %>
			</td>
			<td>
				<%= inquiry.order_number %>
			</td>
			<td>
				<%= truncate(inquiry.message, :lenght=> 20) %>
			</td>
			<td>
				<%= link_to t(:show_more), admin_inquiry_path(inquiry) %> | 
	      <%=link_to t(:delete), admin_inquiry_path(inquiry) , :method => :delete %>
	     </td>
		</tr>
		<% end %>
	</tbody>
</table>