<h1>Contact Us Form</h1>
			<p>
				<%= t :name %>: <%= @inquiry.name %>
			</p>
			<p>
				<%= t :phone %>: <%= @inquiry.phone %>
			</p>
			<p>
				<%= t :mail %>: <%= @inquiry.email %>
			</p>
			<p>
				<%= t :contact_time %>: <%= @inquiry.contact_time %>
			</p>
			<p>
				<%= t :type_inquiry %>: <%= @inquiry.type_inquiry %>
			</p>
			<p>
				<%= t :order_number %>: <%= @inquiry.order_number %>
			</p>
			<p>
				<%= t :message %>: <%=h @inquiry.message %>
			</p>
			<p>
				<%= link_to t(:back), admin_inquiries_path %> |      
				<%=link_to t(:delete),  admin_inquiry_path(@inquiry) , :method => :delete %>
	     </p>
		</tr>
