<h1><%= t 'mail.inquiriy_title' %></h1>
<p>
	<strong><%= t :name %>: </strong>
	<%= @inquiry.name %>
</p>
<p>
	<strong><%= t :phone %>: </strong>
	<%= @inquiry.phone %>
</p>
<p>
	<strong><%= t :email %>: </strong>
	<%= @inquiry.email %>
</p>
<p>
	<strong><%= t :contact_time %>: </strong>
	<%= @inquiry.contact_time %>
</p>
<p>
	<strong><%= t :order_number %>: </strong>
	<%= @inquiry.order_number %>
</p>
<p>
	<strong><%= t :type_inquiry %>: </strong>	
	<%= @inquiry.type_inquiry %>
</p>
<p>
	<strong><%= t :message %>:</strong><br/>
	<%= @inquiry.message %>
</p>
