<h1>Contact Us</h1>

<%= form_for(@inquiry) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :phone %><br />
		<%= f.text_field :phone %>
	</div>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :contact_time %>
		<%= f.select :contact_time, (1..2).map {|b| t "contact_time_#{b}"} %>
	</div>
	<div class="field">
		<%= f.label :type_inquiry, t(:do_you_want) %>
		<%= f.select :type_inquiry, (1..9).map {|b| t "type_inquiry_#{b}"} %>
	</div>
	<div class="field">
		<%= f.label :order_number %>
		<%= f.text_field :order_number %>
	</div>
	<div class="field">
		<%= f.label :message %>
		<%= f.text_area :message %>
	</div>
	<div class="field">
		<%= f.submit "Sent It!" %>
	</div>
<% end %>
