<%= stylesheet_link_tag "store/spree_contact_us" %>

<div id="form02ModalBox">
	<div id="form02Modal">
		<a class="close" href="javascript:;" onclick="parent.$.fancybox.close();"><img src="/images/botonClose25x25.png" alt="cierra esta forma"></a>
		<% flash.each do |key, value| %>
		  <div class="flash <%= key %>"><%= value %></div>
		<% end %>
		<p>
			<span class="label_show"><%= t :name %></span>
			<%= @inquiry.name %>
		</p>
		<p>
			<span class="label_show"><%= t :phone %></span>
			<%= @inquiry.phone %>
		</p>
		<p>
			<span class="label_show"><%= t :mail %></span>
			<%= @inquiry.email %>
		</p>
		<p>
			<span class="label_show"><%= t :contact_time %></span>
			<%= @inquiry.contact_time %>
		</p>
		<p>
			<span class="label_show"><%= t :order_number %></span>
			<%= @inquiry.order_number %>
		</p>
		<p>
			<span class="label_show"><%= t :type_inquiry %></span>	
			<%= @inquiry.type_inquiry %>
		</p>
		<p>
			<span class="label_show"><%= t :message %></span>
			<%= @inquiry.message %>
		</p>
	</div>
</div>


