<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>

<div>
	<div><%= t :name %> <%= @inquiry.name %><div>
	<div><%= t :phone %> <%= @inquiry.phone %><div>
	<div><%= t :mail %> <%= @inquiry.email %><div>
	<div><%= t :contact_time %> <%= @inquiry.contact_time %><div>
	<div><%= t :order_number %> <%= @inquiry.order_number %><div>
	<div><%= t :type_inquiry %><%= @inquiry.type_inquiry %><div>
	<div><%= t :message %> <%= @inquiry.message %><div>
<div>